{% extends "base.html" %}

{% block content %}

<div class="columns">
    <div class="column">
        <h1 class="title"> {{ link['username']| capitalize }}'s' {{ role | capitalize  }} Kinks
    </div>
    <div class="column">
        <form method="POST" action="{{ url_for('logged.view_combined_kinks') }}">
            <input type="hidden" type="text" name="user_id" value="{{ link['id'] }}">
            <input type="hidden" type="text" name="link_role" value="{{ role }}">
            <div class="control">
                <div class="select">
                    <select name="view_relationship" id="view_relationship" onchange="this.form.submit()">
                        <option selected>Select which kink list of yours to compare</option>
                        {% for relationship in relationships %}
                            <option value={{ relationship['name'] | capitalize }}> {{ relationship['name'] | capitalize }} </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>



<form method="POST" action="/kink">
    <table class="table is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th> Kink Name  </th>
                <th> Experience </th>
                <th> Frequency  </th>
                <th> Enjoyment  </th>
            </tr>
        </thead>
        <tbody>
            {% for kink in links %}
            <tr>
                <td> {{ kink["kink_name"] }} </td> 
                <td>
                    {{ links[loop.index0]["experience"]["name"]|capitalize|replace("_"," ") }}
                </td>
                <td>
                    {{ links[loop.index0]["frequency"]["name"]|capitalize|replace("_"," ") }}
                </td>
                <td>
                    {{ links[loop.index0]["enjoyment"]["name"]|capitalize|replace("_"," ") }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</form>


{% endblock %}