{% extends "base.html" %}

{% block content %}

<div>
    <h1> {{ link_user }} {{ role | capitalize  }} Kinks
</div>

<form method="POST" action="/kink">
    <table class="table is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th> Kink Name  </th>
                <th> Experience </th>
                <th> Frequency  </th>
                <th> Enjoyment  </th>
            </tr>
        </thead>
        <tbody>
            {% for kink in links %}
            <tr>
                <td> {{ kink["kink_name"] }} </td> 
                <td>
                    {{ links[loop.index0]["experience"]["name"]|capitalize|replace("_"," ") }}
                </td>
                <td>
                    {{ links[loop.index0]["frequency"]["name"]|capitalize|replace("_"," ") }}
                </td>
                <td>
                    {{ links[loop.index0]["enjoyment"]["name"]|capitalize|replace("_"," ") }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</form>


{% endblock %}